extends layout/layout

block vars
    -title = 'Product detail'
    -bodyClass = 'page-prod'
block container 
    +BreadCrumb([{txt:"MEN"},{txt:"GIÀY"},{txt:"GIÀY THỂ THAO"}])
    section.sec-prod-dt 
        .prod-dt 
            .container 
                .prod-dt-flex.row.ss-pd-min
                    .prod-dt-images.col 
                        .wrapper 
                            .prod-dt-slide
                                .prod-dt-slide-thumb 
                                    .swiper.row
                                        .swiper-wrapper
                                            each val,index in Array(7)
                                                .swiper-slide.col 
                                                    .img 
                                                        .img-inner 
                                                            +img(`thumb${index+1}.jpg`)
                                .prod-dt-slide-main 
                                    .swiper
                                        .swiper-wrapper
                                            each val,index in Array(7)
                                                .swiper-slide
                                                    .img 
                                                        a(href=`./assets/images/thumb${index+1}.jpg` data-fancybox="gallery").img-inner 
                                                            +img(`thumb${index+1}.jpg`)
                    .prod-dt-info.col 
                        .wrapper 
                            .heads.prod-dt-block 
                                .tops 
                                    .tops-tags 
                                        .tops-tag.brand NIKE
                                        .tops-tag.sale sale 20%
                                        .tops-tag.sold 256 lượt bán
                                    a(href="").tops-store
                                        .iwt 
                                            .icon 
                                                +img("ic-store.svg")
                                            p.txt Xem cửa hàng
                                        .tops-store-share 
                                            +img("ic-share.svg")
                                .mids 
                                    h1.mids-title Nike Air Max Plus
                                    .mids-des
                                        .mids-des-it 
                                            span.label  Giày thể thao
                                        .mids-des-it 
                                            span.label  Mã sản phẩm: 
                                            span.val HB90047
                                        .mids-des-it 
                                            span.label  Số lượng kho: 
                                            span.val 1240
                                .bottoms
                                    .box-price 
                                        .box-price-cur 3,250,000 VNĐ
                                        .box-price-old 4,850,000 VNĐ
                                        .box-price-sale   
                                            .iwt 
                                                .icon 
                                                    +img("ic-downsale.svg")
                                                .txt 20% OFF
                            .bodies.prod-dt-block 
                                .bodies-item 
                                    span.name  Loại sản phẩm
                                    .bodies-prods.row 
                                        each val,index in Array(5)
                                            .col 
                                                label.bodies-prod 
                                                    input(type="radio" name="prod-type")
                                                    .img 
                                                        .img-inner 
                                                            +img(`shoe${index+1}.jpg`)
                                        .col 
                                            label.bodies-prod.disabled 
                                                input(type="radio" name="prod-type")
                                                .img 
                                                    .img-inner 
                                                        +img(`shoe6.jpg`)        
                                .bodies-item 
                                    span.name  Kích cỡ giày 
                                    .bodies-sizes.row 
                                        each val,index in Array(8)
                                            .col 
                                                label.bodies-size
                                                    input(type="radio" name="prod-type")
                                                    span.t-text  EU 35.5
                                        each val,index in Array(2)
                                            .col 
                                                label.bodies-size.disabled
                                                    input(type="radio" name="prod-type")
                                                    span.t-text  EU 35.5
                                .bodies-item 
                                    .bodies-qty 
                                        span.name  Số lượng:
                                        +Count
                            .footers.prod-dt-block 
                                .footers-total 
                                    span.name Tổng tiền: 
                                    span.val 6,500,000 vnđ
                                .footers-btns 
                                    +Btn("Mua ngay","","white full")
                                    +Btn("+ Thêm vào giỏ hàng","","third full")
                                .footers-info 
                                    .footers-info-heads Mô tả sản phẩm
                                    .footers-info-table 
                                        table 
                                            tr 
                                                td Loại sản phẩm
                                                td Giày nam
                                            tr 
                                                td Kích cỡ
                                                td 38.5
                                            tr 
                                                td Nhà cung cấp:
                                                td Nike
                                            tr 
                                                td Chất lượng:
                                                td 
                                                    +Star("100%")
                                            tr 
                                                td Màu sắc
                                                td Xanh da trời
                                            tr 
                                                td Chiều dài
                                                td 33 mm
                                            tr 
                                                td Xuất xứ
                                                td Việt nam
                                            tr 
                                                td Mô tả sản phẩm:
                                                td 
                                                    .mona-content 
                                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
    section.sec-prod-related 
        .prod-related.ss-pd-t 
            .container 
                +headHori("mb-24")
                    +title32("Sản phẩm liên quan")
                .prod-related-slide 
                    .swiper.rows.rows-5.gap-res    
                        .swiper-wrapper 
                            each val,index in Array(5)
                                .swiper-slide.col 
                                    +prodItem(`shoe${index+1}.jpg`)
                    +Pagination
    section.sec-prod-review 
        .prod-review.ss-pd 
            .container 
                +headHori("mb-24")
                    +title32("Review từ khách hàng")
                .prod-review-slide 
                    .swiper.row.rows-5.gap-res  
                        .swiper-wrapper 
                            each val,index in Array(5)
                                .swiper-slide.col 
                                    +itemReview(`review${index+1}.jpg   `)
                    +Pagination

                